/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap'); */

:root {
    ---primary-color: #000;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body,
html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.utterances {
    max-width: 100% !important;
}

.static-tweet blockquote {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.static-tweet-emoji {
    height: 1.2em !important;
    width: 1.2em !important;
}

.katex {
    font: normal 1em CMU Serif Roman, KaTeX_Main, Times New Roman, serif !important;
}

@font-face {
    font-family: 'CMU Serif Roman';
    src: url('/fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Bonum Regular';
    src: url('/fonts/TeX Gyre Bonum Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.notion {
    font-size: 110% !important;
    /* font-weight: bold; */
}

.notion-inline-code {
    font-family: 'CMU Serif Roman' !important;
    font-size: 90%;
}

.notion.notion-app {
    font-weight: normal !important;
}

.notion-aside-table-of-contents .notion-table-of-contents-item {
    font-size: 80% !important;
}

.notion-collection-row-value {
    font-size: 1rem !important;
}

/* Hide Calendly badge widget since we're using our own button in the Toolbox */
.calendly-badge-widget {
    display: none !important;
}


.calendly-overlay .calendly-popup .calendly-popup-content {
    background-color: #fff !important;
}